.error {
  color: red;
}
.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login{
  cursor: pointer;
}
.mt-2{
  margin-top: 2.5rem!important;
  font-size: large;
}