<div *ngIf="error" class="error">
  {{ error }}
</div>

<div class="container-fluid">
  <div class="header row d-flex justify-content-center">
    <div class="col"><img src="https://marvel-b1-cdn.bc0a.com/f00000000035870/www.bayada.com/images/200x65-Simplified-Logo.png" ></div>
    <div class="col align-self-center">THE Bayada Way</div>
    <div class="col align-self-center">About</div>
    <div class="col align-self-center">Services</div>
    <div class="col align-self-center">Community</div>
    <div class="col align-self-center login" ><span *ngIf="isAuthenticated"(click)="logout()">logout</span> <span *ngIf="!isAuthenticated" (click)="login()">login</span></div>
  </div>
</div>

